.main-container {
  display: flex;
  justify-content: space-between;
}
.cart-container {
  width: 350px;
  box-shadow: 4px 4px 8px gray;
}

.card {
  width: 300px;
  text-align: center;
  border: 1px solid gray;
  margin: 15px;
  padding: 15px;
  border-radius: 20px;
}
.card-img {
  width: 100px;
}
.card-footer {
  display: flex;
  justify-content: space-around;
}
.cart-title {
  display: flex;
  justify-content: space-around;
}